---
import ContentLayout from "../layouts/ContentLayout.astro";
const posts = await Astro.glob("./blog/*.md");
---

<ContentLayout
  title="Blog - Aptabase"
  description="Tips and tricks to help you get the most out of Aptabase."
>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      From the blog
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">
      Tips and tricks to help you get the most out of Aptabase.
    </p>
  </div>
  <div
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      posts.map((post) => (
        <article class="flex flex-col items-start justify-between">
          <a href={post.url} class="relative w-full">
            <img
              src="/blogcover/placeholder.png"
              alt=""
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
          </a>
          <div class="max-w-xl">
            <div class="mt-4 flex items-center gap-x-4 text-xs">
              <time
                datetime={post.frontmatter.publishedDate}
                class="text-gray-500"
              >
                {new Intl.DateTimeFormat("en", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                }).format(new Date(post.frontmatter.publishedDate))}
              </time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">
                {post.frontmatter.category}
              </span>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href={post.url}>
                  <span class="absolute inset-0" />
                  {post.frontmatter.title}
                </a>
              </h3>
              <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-600">
                {post.frontmatter.description}
              </p>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</ContentLayout>
