---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.png";
import { Code } from "astro/components";

const {
  name,
  title,
  image,
  sdkName,
  sdkUrl,
  sdkCodeExample,
  sdkLanguage,
  textColor,
} = Astro.props;
---

<div class="relative isolate overflow-hidden">
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-20"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0">
      <div class="text-center sm:text-left">
        <img src={image} alt={name} class="pl-2 h-12 mx-auto sm:mx-0" />
        <h1
          class="mt-2 text-4xl font-title font-bold tracking-tight sm:text-6xl"
        >
          Analytics for <br />

          <span class={textColor}>
            {title}
          </span>
        </h1>
        <span
          class="mt-2 block text-xl font-semibold tracking-tight text-gray-900"
        >
          Privacy-First. Simple. Real-Time.
        </span>
        <p
          class="mt-6 mx-auto sm:mx-0 text-xl leading-8 text-gray-500 max-w-md"
        >
          Aptabase is an <span class="text-gray-900">Open Source</span> alternative
          to Google Firebase Analytics for <span class="text-gray-900">
            {title}
          </span>
        </p>
      </div>
      <div class="mt-20 space-y-10">
        <div>
          <div class="font-title text-xl text-gray-800">
            <span class="text-primary">1.</span> Register
          </div>
          <p class="mt-1 text-gray-600">Signing up takes less than a minute.</p>
          <div class="mt-4 flex items-center gap-x-4">
            <a
              href="https://eu.aptabase.com/auth/register"
              class="rounded-md bg-black px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              Sign up
            </a>
            <a
              href="https://eu.aptabase.com/"
              class="text-sm font-semibold rounded-md leading-6 px-4 focus-visible:outline-black py-2 hover:bg-gray-50"
            >
              Sign in <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
        <div>
          <div class="font-title text-xl text-gray-800">
            <span class="text-primary">2.</span> Instrument
          </div>
          <p class="mt-1 text-gray-600 max-w-md">
            Use the
            <a
              class="text-primary hover:underline"
              target="_blank"
              href={sdkUrl}
            >
              {sdkName}
            </a> to instrument your app. You're in total control of what events to
            track.
          </p>
          <p class="mt-4 text-gray-600">Here's an example 👇</p>
          <div class="prose mt-1">
            <Code code={sdkCodeExample} lang={sdkLanguage} theme="dark-plus" />
          </div>
        </div>
        <div>
          <div class="font-title text-xl text-gray-800">
            <span class="text-primary">3.</span> Explore
          </div>
          <p class="mt-1 text-gray-600 max-w-md">
            That's it! You'll now see the data on your dashboard as the events
            come through from your app.
          </p>
        </div>
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div
          class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-2"
        >
          <Image
            src={heroImage}
            alt="Aptabase Dashboard Screenshot"
            width={1300}
            height={911}
            class="w-[76rem] rounded-xl shadow-2xl ring-1 ring-gray-900/10"
          />
        </div>
      </div>
    </div>
  </div>
</div>
