---
type UseCase = {
    icon: string;
    title: string;
    description: string;
};

const { title, useCases } = Astro.props;
---

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-cyan-600">
                Use Cases
            </h2>
            <p
                class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
                Why add Analytics to your {title}?
            </p>
            <p
                class="mt-6 text-lg max-w-2xl lg:mx-auto leading-8 text-gray-600"
            >
                You can't improve what you don't measure. Aptabase helps you get
                valuable insights from your {title} in a privacy-friendly manner.
            </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl
                class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
            >
                {
                    useCases.map((useCase: UseCase) => (
                        <div class="flex flex-col">
                            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                <span class="text-cyan-600">
                                    <Fragment set:html={useCase.icon} />
                                </span>
                                {useCase.title}
                            </dt>
                            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                <p class="flex-auto">{useCase.description}</p>
                            </dd>
                        </div>
                    ))
                }
            </dl>
        </div>
    </div>
</div>
