---
import "cal-sans";
import "@fontsource/inter";

export interface Props {
  title: string;
  description: string;
}

const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={url} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://aptabase.com/og.png" />
    <meta name="twitter:site" content="@aptabase" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://aptabase.com/twitter.png" />
  </head>
  <body>
    <slot />
    <script defer data-domain="aptabase.com" data-api="/e" src="/p.js"></script>
  </body>
</html>
