---
import "cal-sans";
import "@fontsource/inter";

export interface Props {
  title: string;
  description: string;
  og?: string;
}

const url = Astro.url.toString().replace(/\/+$/, "");
const { title, description, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={url} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={og ?? "https://aptabase.com/og.png"} />
    <meta name="twitter:site" content="@aptabase" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content={og ?? "https://aptabase.com/twitter3.png"}
    />
  </head>
  <body>
    <slot />
    <script type="text/javascript">
      window.$crisp = [];
      window.CRISP_WEBSITE_ID = "6a643f4e-c28f-44df-91af-8072159892ea";
      (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
      })();
    </script>
    <script defer data-domain="aptabase.com" data-api="/e" src="/p.js"></script>
  </body>
</html>
