---
import ContentLayout from "../layouts/ContentLayout.astro";
const { frontmatter } = Astro.props;
---

<ContentLayout
  title={`${frontmatter.title} - AptabaseBlog`}
  description={frontmatter.description}
>
  <div class="mx-auto mb-12 flex w-full flex-col space-y-4">
    <p class="space-x-2">
      <span class="font-medium text-blue-600">{frontmatter.category}</span>
      <span>·</span>
      <time class="text-gray-600" datetime="2023-02-21T12:00:00.000Z">
        {
          new Intl.DateTimeFormat("en", {
            year: "numeric",
            month: "long",
            day: "numeric",
          }).format(new Date(frontmatter.publishedDate))
        }
      </time>
      <span>·</span>
      {
        frontmatter.tags.map((tag: string) => (
          <span class="inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
            {tag}
          </span>
        ))
      }
    </p>
    <h1 class="text-4xl font-title text-gray-900 sm:text-5xl lg:text-6xl">
      {frontmatter.title}
    </h1>
    <p
      class="text-2xl font-light tracking-wide text-gray-700 sm:text-xl lg:text-2xl"
    >
      {frontmatter.description}
    </p>
    <div class="flex items-center space-x-2">
      <img
        loading="lazy"
        class="h-8 w-8 rounded-full"
        src="https://www.gravatar.com/avatar/b9d0b74d8e51d461235893edd4ab5785?s=70%22"
        alt="Guilherme Oenning"
      />
      <div class="flex flex-col text-sm leading-5">
        <span class="font-medium text-slate-900">Guilherme Oenning</span>
        <a
          target="_blank"
          class="text-blue-600 hover:text-blue-900"
          href="https://twitter.com/goenning">@goenning</a
        >
      </div>
    </div>
  </div>
  <div class="relative mx-auto mt-20 max-w-4xl px-4 sm:px-6 lg:px-8">
    <article
      class="prose max-w-none prose-a:text-blue-500 prose-a:no-underline hover:prose-a:text-blue-600"
    >
      <slot />
    </article>
  </div>
</ContentLayout>
